private/
upstream/
.venv/
build/
artifacts/
bootprofiles/
uefi/platforms/pianoGuiPkg/
uefi/platforms/pianoLinuxPkg/
uefi/platforms/pianoProductPkg/
__pycache__/
*.pyc
uefi/handoff/bootshim/BootShim.bin
uefi/handoff/bootshim/BootShim.elf
